<html>
  <title>PPST</title>
  <head>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Nunito:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
  </head>
  
  <body>
    
    <div class="row">
      
      <div class="col col-xl-3 col-lg-2 col-md-3 col-sm-3 col-xs-12" style="background-color:#2d2d2d;
                                                                            height:100%;
                                                                            text-align:center;
                                                                            font-family: 'Cabin', sans-serif;
                                                                            position:fixed; 
                                                                            border-right:solid 1px #ccc
                                                                            ">
        
        <img src="http://howrahruralpolice.gov.in/images/sphowrah.jpg" alt="" 
             style="height:238px;width:238px;border-radius:100%;border:solid 10px #2d2d2d"><br>
        
   <a type="button" class="btn btn-primary" style="opacity:0.9;
                                                   margin-top:-50px;
                                                   background-color:rgba(0,0,0,0.4)">edit profile</a>
     
        
        <ul class="list-group" style="text-align:center;margin-left:18px;margin-top:20px">
  <li class="list-group-item list-group-item-info" style="width:100%"><strong style="float:left">*Name / नाॉव : </strong><br>
    <span style="font-size:16px;color:black"><%=currentUser.username%></span></li>
   <li class="list-group-item list-group-item-info"><strong style="float:left">*Phone No. / फोन : </strong><br>
    <span style="font-size:17px;color:black">8097448698</span></li>
   
   <li class="list-group-item list-group-item-info"><strong style="float:left">*Branch / शाखा : </strong><br>
    <span style="font-size:17px;color:black">Bhayander</span></li>
          <li class="list-group-item list-group">
      <a type="button" class="btn btn-success">View complete profile <i class="fa fa-arrow-right"></i></a>
</li>  

</ul>
        
        <div style="">
          <div class="btn-group-vertical" >
  <button type="button" class="btn btn-primary">Apply <i class="fa fa-arrow-right"></i></button>
<button type="button" class="btn btn-primary">Status <i class="fa fa-user-cog"></i></button>
<button type="button" class="btn btn-primary">Notifications <i class="fa fa-bell"></i></button>
<button type="button" class="btn btn-danger">Logout <i class="fa fa-sign-out"></i></button>
</div>
        </div>
        
      </div>
      
        <div class="col col-xl-9 col-lg-10 col-md-9 col-sm-9 col-xs-12" style="background-color:;
                                                                            height:1200px;
                                                                            float:right;
                                                                            font-family: 'Cabin', sans-serif;
                                                                           ">
          <h1><strong>Apply for Transfer</strong></h1>
          
          <p>Select the staion :</p>
      <div class="col col-xl-2 col-lg-2 col-md-9 col-sm-9 col-xs-12" style="background-color:white;">      

            <li class="list-group-item">Vasai</li>
            <li class="list-group-item">Nalasophara</li>
            <li class="list-group-item">Virar</li>
            <li class="list-group-item">Vaitarna</li>
            <li class="list-group-item">Saphale</li>
            <li class="list-group-item">Kelva Road</li>
            <li class="list-group-item">Palghar</li> 
            <li class="list-group-item">Umroli</li>
            <li class="list-group-item">Boisar</li>
            <li class="list-group-item">Vangaon</li>
            <li class="list-group-item">Dahanu Road</li>
</ul>
        
      </div>
      
      
    </div>
    
    
  </body>
  
</html>

 




