<html>
  
  <title>
    Demo
  </title>
  
  <head>
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
    

  </head>
  
  
  
  <body style="background-color:#ccc">
    
    <!--Navbar-->
<!-- <nav class="navbar navbar-expand-lg navbar-dark elegant-color-dark" >

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#"></a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

        </ul>
        <!-- Links -->

        <form class="form-inline">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form>
    </div>
    <!-- Collapsible content -->

</nav> 
<!--/.Navbar-->

    
    
    
    
 <div class="row">
  
    <div class="col-lg-4 col-sm-0 col-xs-0"></div>
    <div class="col-lg-4 col-sm-12 col-xs-12">
      <div class="card">
  

  
    <div class="card-block" style="background-color:;margin-top:100px">

        <div class="modal-header" >
        <i class="fa fa-users" style="font-size:100px;color:#2d2d2d;margin:0 auto"></i><br><br>
         
         

    </div>
     <div style="text-align:center">
        <p class="font-weight-bold" style="font-size:50px;color:#2d2d2d;margin:0 auto"><span >PPTS</span></p>
       <p class="font-weight-light" style="font-size:20px;color:#2d2d2d;margin:0 auto"><span >Palghar Police Transfer System</span></p>
      </div>

        <!--Body-->
      
      <form action="/register" method="post">
         <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" id="form2" class="form-control" name="username">
            <label for="form2">username</label>
        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" id="form4" class="form-control" name="password">
            <label for="form4">password</label>
        </div>

        <div class="text-center">
            <button class="btn btn-black">Register</button>
        </div>
      </form>
      
       

    </div>

    <!--Footer-->
    <div class="modal-footer">
        <div class="options">
            <p>Not a member? <a href="#">Register</a></p>
            <p>Forgot <a href="#">Password?</a></p>
        </div>
    </div>


<!--/Form with header-->
      
      
   </div>

   </div>
    <div class="col-lg-4 col-sm-0 col-xs-0"></div>  
   
      
<!--Form with header-->
  
</div>
    
    
  </body>
  
      <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
  
</html>